<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskMapper">

	<resultMap id="taskResult" type="Task">
		<result column="task_no" property="taskNo"/>
		<result column="title" property="taskTitle"/>
		<result column="task_content" property="taskContent"/>
		<result column="category" property="category"/>
		<result column="creator_emp_no" property="taskWriter"/>
		<result column="due_date" property="dueDate"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<result column="task_status" property="taskStatus"/>
		<result column="emoji" property="emoji"/>
	</resultMap>

	<select id="taskList" resultMap="taskResult">
		select
		       task_no
		     , title
		     , task_content
		     , category
		     , creator_emp_no
		     , to_char(due_date, 'YYYY-MM-DD') as due_date
		     , create_date
		     , update_date
		     , task_status
		     , emoji
		  from task
		 where creator_emp_no = #{empNo}
		 order
		    by create_date desc
		</select>

	<insert id="taskInsert">
		insert
		  into task
		  (
		    task_no
		  , title
		  , task_content
		  , category
		  , creator_emp_no
		  , due_date
		  , emoji
		  )
		  values
		  (
		    seq_task.nextval
		  , #{taskTitle}
		  , #{taskContent}
		  , #{category}
		  , #{taskWriter}
		  , #{dueDate}
		  , #{emoji}
		  )
	</insert>

</mapper>