body {
      background-color: #f5f7fb !important;
      margin: 0;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      height: 100vh;
      }
      
* {
    box-sizing: border-box;
    }